.about-me {
    background-image: url(/assets/img/background/desktop/aboutmeLeft.svg), url(/assets/img/background/desktop/aboutmeRight.svg);
    background-repeat: no-repeat;
    background-size: 13%, 75%;
    background-position: left bottom, right top;

}