@use '../custom.scss' as *;
@use '../components/mixins' as *;

.works {
    &__row {
        &-card {
            &__image{
                max-height: 225px;
                min-height: 225px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
    }
}


.video___container {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 60vh;    
    &-close{
    margin-right: .750rem;
    margin-top: .750rem;
    }
}
