/* Error: Undefined variable.
 *   ,
 * 5 | $primary:       $blue !default;
 *   |                 ^^^^^
 *   '
 *   scss\_custom.scss 5:17  @use
 *   scss\style.scss 1:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502  $primary:       $blue !default;\d\a   \2502                  ^^^^^\a   \2575 \a   scss\\_custom.scss 5:17  @use\a   scss\\style.scss 1:1     root stylesheet";
}
