@use '../custom.scss' as *;
@use '../components/mixins' as *;

.works {
  padding-top: 6rem;

  &__row {
    &-card {
      &__image {
        max-height: 225px;
        min-height: 225px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-title {
      @include media-breakpoint-down(sm) {
        font-size: 2.7rem;
        font-weight: 700;
      }
    }
  }
}

.video-container {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  &-close {
    width: 100%;
    margin-top: 0.75rem;
    text-align: end;
  }
}
