@use  '../custom.scss' as *;
  
.modal-body-popup {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  &__title{
    @include media-breakpoint-down(sm) {
      // text-align: center;
      padding-bottom: .750rem;
    } 
  }
  &__button{
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
    } 
    
  }
  
  &__description{
      font-size: 1rem;
      text-transform: capitalize;
      line-height: 1.3rem;
      font-weight: 485;
      font-family: sans-serif;
  }
    
  }
  