@use  '../custom.scss' as *;
  
.modal-body-popup {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  &__title{
    @include media-breakpoint-down(sm) {
      padding-bottom: .750rem;
    } 
  }
  &__button{
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
    } 
    
  }
  
  &__description{
      font-size: 1rem;
      text-transform: capitalize;
      line-height: 1.3rem;
      font-weight: 485;
      font-family: sans-serif;
  }
    
  }
  

  // HEADING LINE 
.heading-line::before {
  content: "";
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: $secondary;
}

.email-bottom::before {
  content: "jose-zromero@hotmail.com";
  padding-bottom: 1rem;
  display: block;
  margin: 0 auto;
  font-weight: 700;
}

.email-bottom{
  margin-top: 5rem;
  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
  }
}

